<div class="mdl-demo mdl-color&#45;&#45;grey-100 mdl-color-text&#45;&#45;grey-700 mdl-base">
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>{{title}}</h3>
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a routerLink="toh" class="mdl-layout__tab mdl-button" routerLinkActive="is-active">Toh</a>
        <a routerLink="attr-directive" class="mdl-layout__tab mdl-button" routerLinkActive="is-active">Attr
          directive</a>
        <a routerLink="security" class="mdl-layout__tab mdl-button" routerLinkActive="is-active">Security</a>
        <a routerLink="unit-test" class="mdl-layout__tab mdl-button" routerLinkActive="is-active">Unit test</a>
        <a routerLink="structural-directive" class="mdl-layout__tab mdl-button" routerLinkActive="is-active">Structural
          directive</a>


      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="mdl-layout__tab-panel is-active" id="overview">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>

