<!--<div class="mdl-layout__header-row">-->
  <!--<span>{{title}}</span>-->
  <!--<ul>-->

    <!--<a routerLink="toh" routerLinkActive="active">Toh</a>-->

    <!--<a routerLink="attr-directive" routerLinkActive="active">Attr Directive</a>-->

  <!--</ul>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->

<div class="mdl-layout__container">
  <div class="docs-layout mdl-js-layout is-upgraded">
    <div class="docs-layout-header mdl-layout__header is-casting-shadow">
      <div class="docs-navigation__container">
        <nav class="docs-navigation mdl-navigation">
          <a> hhhh</a>
          <a> bbbb</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
